# Go
/core/peerdrive-core
/core/*.db
/core/.peerdrive*

# Flutter/Dart
**/build/
**/.dart_tool/
**.packages
**/.pub-cache/
**/.pub/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies

# Mac
.DS_Store

# Mobile bindings
/mobile/ios/Frameworks/Daemon.xcframework
